ASITHmsWpf/Service References/ASITHmsService1/ASITHmsService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASITFunLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASITFunLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ASITFunParams.ProcessAccessParams">
    <xs:sequence>
      <xs:element name="_x003C_ProcID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProcName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_comCod_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm01_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm02_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm03_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm04_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm05_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm06_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm07_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm08_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm09_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm10_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm11_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm12_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm13_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm14_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm15_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm16_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm17_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm18_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm19_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parm20_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_parmBin01_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
      <xs:element name="_x003C_parmXml01_x003E_k__BackingField" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="_x003C_parmXml02_x003E_k__BackingField" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASITFunParams.ProcessAccessParams" nillable="true" type="tns:ASITFunParams.ProcessAccessParams" />
</xs:schema>