ASITHmsWpf/Service References/ASITHmsService1/ASITHmsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ASITHmsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3709/ASITHmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3709/ASITHmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3709/ASITHmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ASITFunLib" />
      <xsd:import schemaLocation="http://localhost:3709/ASITHmsService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:3709/ASITHmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IASITHmsService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataSetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResult" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataSetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResultResponse" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataSetResultWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResultWeb" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataSetResultWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResultWebResponse" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetXmlStrResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlStrResult" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetXmlStrResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlStrResultResponse" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetJsonStrResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonStrResult" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetJsonStrResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonStrResultResponse" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataSetNonQuerySQL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetNonQuerySQL" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataSetNonQuerySQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetNonQuerySQLResponse" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IASITHmsService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IASITHmsService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetData" message="tns:IASITHmsService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetDataResponse" message="tns:IASITHmsService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetDataSetResult" message="tns:IASITHmsService_GetDataSetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetDataSetResultResponse" message="tns:IASITHmsService_GetDataSetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetResultWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetDataSetResultWeb" message="tns:IASITHmsService_GetDataSetResultWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetDataSetResultWebResponse" message="tns:IASITHmsService_GetDataSetResultWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlStrResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetXmlStrResult" message="tns:IASITHmsService_GetXmlStrResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetXmlStrResultResponse" message="tns:IASITHmsService_GetXmlStrResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsonStrResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetJsonStrResult" message="tns:IASITHmsService_GetJsonStrResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetJsonStrResultResponse" message="tns:IASITHmsService_GetJsonStrResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetNonQuerySQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetDataSetNonQuerySQL" message="tns:IASITHmsService_GetDataSetNonQuerySQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetDataSetNonQuerySQLResponse" message="tns:IASITHmsService_GetDataSetNonQuerySQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IASITHmsService/GetDataUsingDataContract" message="tns:IASITHmsService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASITHmsService/GetDataUsingDataContractResponse" message="tns:IASITHmsService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IASITHmsService" type="tns:IASITHmsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetResult">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetDataSetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetResultWeb">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetDataSetResultWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlStrResult">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetXmlStrResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsonStrResult">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetJsonStrResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetNonQuerySQL">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetDataSetNonQuerySQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IASITHmsService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASITHmsService">
    <wsdl:port name="BasicHttpBinding_IASITHmsService" binding="tns:BasicHttpBinding_IASITHmsService">
      <soap:address location="http://localhost:3709/ASITHmsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>